body {
  background: linear-gradient(to left, #232526 , #414345);
  font-family: 'Century Gothic', sans-serif;
}

div {
  background-color: rgb(54, 199, 245);
  width: 7px;
  position: absolute;
  border: 1px solid black;
}

p {
  font-size: 30px;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  text-align: center;
  width: 70%;
  height: 500px;
  background-color: white;
  margin-top: 150px;
  position: inherit;
}

.container p {
  margin-top: 15px;
  color: rgba(11, 11, 11, 0.8);
}

.inputs {
  left: 40%;
  margin-top: -100px;
  border: none;
}

.inputs div {
  position: inherit;
}

.input {
  width: 190px;
  background-color: white;
  text-align: center;
}

.input input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 40px;
}

.button {
  margin-left: 190px;
  width: 90px;
  height: 46px;
  background-color: white;
  text-align: center;
  background-color: rgba(42, 227, 49, 0.6);
  color: white;
}

.button:hover {
  background-color: rgba(42, 227, 49, 0.8);
}

.button p {
  margin-top: 2px;
}

img {
  animation: loading 1s infinite;
  animation-play-state: paused;
  position: absolute;
  display: none;
}

@keyframes loading {
  0% {width: 80px; height: 79px}
  50% {width: 60px; height: 58px}
  100% {width: 80px; height: 79px}
}
